.profile {
    outline: 1px dotted white;
    margin-bottom: 50px;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    
}

@media screen and (max-width: 1024px) {
    .profile {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        margin-bottom: 36px;
        max-width: 282px;
    }
}