.header {
    max-width: calc(100% - (100%/3.2)); 
    width: 100%;    
    margin: 45px 200px 40px;
    border-bottom: 1px solid #545454;
    display: flex;
    outline: 1px dotted white;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 45px 100px 40px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 28px 0 42px;
        max-width: 320px;
    }
}
