.content {
    max-width: 880px;
    width: 100%;
    margin: 0;
    /*margin: 0px 15.625% 0px;*/
    padding: 0px 15.625% 0px;    
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 282px;
        margin: 0; 
        /*margin: 0px 5.9375% 0px;*/
        padding: 0px 5.9375% 0px;       
    }
}