.element__caption {
    width: 246px;
    margin: 0 auto;
    padding: 25px 0 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-radius: 0 0 10px 10px;    
}

   