.footer {
    margin: 0 200px 60px;
    color: #545454; 
    max-width: calc(100%*0.6875);    
    width: 100%;       
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 0 auto 50px;       
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 0 19px 36px;
        max-width: 282px;
    }
}